:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  font-size: 32px;
  width: 100%;
  text-align: center;
  /* border-top: 1px solid #333;
  border-bottom: 1px solid #333; */
  margin-top: 80px;
}

#svg-container {
  /* border: 1px solid red; */
  width: 80%;
  max-width: 680px;
  height: 460px;
  margin-left: auto;
  margin-right: auto;
}
